$color-accent: #007BFF;
$bg-inverse: #1B242F;
$padding-ul: 1.2em;

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

// Titulo verder
span.content-title {
    display: inline-block;
    padding: 0.5em 1.5em;
    background: $color-accent;
    color: #fff;
    position: relative;
    &:before {
        $width: 16px;
        content: "";
        position: absolute;
        width: $width;
        height: $width;
        bottom: -5px;
        background: $color-accent;
        transform: rotate(45deg);
    }
}

.bg-inverse {
    background: $bg-inverse;
}

// #1 Biografia
.content-1 {
    // Reset todos los UL
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
        }
    }
    // Imagen de perfil
    // img {}
}

// #2 Formacion
.content-2 {
    .card {
        background: $bg-inverse;
        .icon {
            $size: 70px;
            width: $size;
            height: $size;
            line-height: $size;
            text-align: center;
            font-size: 2em;
            color: $bg-inverse;
            i {
                &:before {
                    margin-left: 0;
                }
            }
        }
        .text-training {
            font-size: 0.9em;
        }
    }
}

// #3 Habilidades
.content-3 {
    .name, .label {
        letter-spacing: 3px;
    }
    .description {
        letter-spacing: 1px;
    }
    .progress {
        $progress-size: 20px;
        height: $progress-size;
        border-radius: 0;
        background: rgba(27, 36, 47, 0.2);
        .progress-bar {
            height: $progress-size;
            line-height: $progress-size;
        }
    }
    img {
        object-fit: cover;
        height: 180px;
        width: 180px;
        overflow: hidden;
    }
}

// #4 Experiencia
.content-4 {
    $side-size: 1.5em;

    &__date {
        margin-top: $side-size / 2;
        background: #fff;
        color: #000;
    }

    &__icon {
        position: relative;
        .border-y {
            position: absolute;
            width: 1px;
        }
        .icon-content {
            position: absolute;
            z-index: 10;
            $icon-size: 50px;
            height: $icon-size;
            width: $icon-size;
            background: #fff;
            text-align: center;
            .icon {
                line-height: $icon-size;
                color: $bg-inverse;
                font-size: 1.5em;
            }
        }
    }
    &__description {
        $bg-border: rgba(122, 122, 122, 0.4);
        $bg-text: #7A7A7A;
        position: relative;
        display: flex;
        &:before {
            content: "";
            width: $side-size;
            height: $side-size;
            position: absolute;
            background: #fff;
            left: -$side-size / 2;
            transform: rotate(45deg);
            align-self: center;
        }
        a {
            text-decoration: none;
            color: $bg-inverse;
            p {
                color: $bg-text;
                margin: 0;
            }
            span {
                letter-spacing: 1px;
                font-size: 0.9em;
            }
        }
    }
}

// #5 Portafolio
.content-5 {
    .portafolio-content {
        border-top: 2px solid $color-accent;
    }
}

// #6 Contacto
.content-6 {
    $size-social: 100px;
    &__fb, &__tw, &__in {
        height: $size-social;
        width: $size-social;
        border-radius: 50%;
        text-align: center;
        .icon {
            line-height: $size-social;
            font-size: 2.5em;
            color: #fff;
        }
    }
    &__fb {
        background: #4267B2;
    }
    &__tw {
        background: #1DA1F2;
    }
    &__in {
        background: #0077B5;
    }
}
