body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.border {
  border: 1px solid #000; }

.menu-navbar {
  margin-top: 2em;
  margin-bottom: 2em;
  float: right; }
  .menu-navbar a {
    padding: 8px 0;
    margin: 0 12px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    text-decoration: none; }
    .menu-navbar a:hover:before {
      width: 100%; }
    .menu-navbar a:before {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #00A78E;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }

.card-information {
  padding: 4rem 2.5rem;
  clear: both;
  background: rgba(31, 31, 31, 0.2); }
  .card-information h4 {
    text-transform: uppercase; }
  .card-information .img-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .card-information .img-profile img {
      width: 320px;
      max-height: 320px;
      overflow: hidden; }
  .card-information .container-title {
    display: inline-block;
    padding: 0.8em;
    background: #00A78E;
    margin-bottom: 1.2em;
    color: #fff;
    position: relative;
    font-weight: bold; }
    .card-information .container-title:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      bottom: -5px;
      background: #00A78E;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .card-information ul {
    padding: 0; }
  .card-information .personal-information {
    border-top: 1px solid #afafaf;
    margin-top: 1.2em;
    margin-right: 3em;
    padding-top: 0.5em;
    list-style: none; }
    .card-information .personal-information__item {
      list-style: none; }
      .card-information .personal-information__item li {
        display: inline-block;
        padding-top: 0.3em;
        padding-bottom: 0.2em; }
        .card-information .personal-information__item li:first-child {
          font-weight: bold;
          width: 16%; }
